@model IEnumerable<WebApplication1.Tickets>

@{
    ViewData["Title"] = "Orders";
}

<h3>Sector @ViewBag.SectorName orders</h3>
<hr/>

<p>
    <span>@Html.ActionLink("Add order", "Create", new { sectorId = @ViewBag.SectorId })</span>
    <a asp-controller="Sectors" asp-action="Index" class="btn btn-secondary">Go back</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Concert</th>
            <th>Sector</th>
            <th>Client</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Sector.Concert.Name</td>
            <td>@item.Sector.Name</td>
            <td>@item.Client.Name</td>
            <td>@item.Status.Name</td>
            <td>
                <div class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
