@model WebApplication1.Sectors

@{
    ViewData["Title"] = "Видалити сектор";
}

<h1>Видалити сектор?</h1>

@*<h3>Видалити секто?</h3>*@
<div>
    <h4>Sectors</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Concert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Concert.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись</a>
    </form>
</div>
