@model IEnumerable<WebApplication1.Sectors>

@{
    ViewData["Title"] = "Квитки (сектори)";
}

<h1>Tickets</h1>
<hr/>

<p><a asp-action="Create" class="btn btn-success">Add ticket</a></p>

@{
    Sectors prevSector = null;
}

@foreach (var item in Model)
{
    if (prevSector == null || prevSector.ConcertId != item.ConcertId)
    {
        if (prevSector != null)
        {
            @:</tbody>
            @:</table>
        }
        @*<h4 id="concert-@item.Concert.Id">@item.Concert.Name</h4>*@
        @:<table class="table table-hover">
        <thead>
            <tr>
                <th>Concert name</th>
                <th>Sector name</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th></th>
            </tr>
        </thead>
        @:<tbody>
    }

    <tr>
        <td>@Html.DisplayFor(modelItem => item.Concert.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Price) ₴</td>
        <td>
            <div class="float-right">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Orders</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
            </div>
        </td>
    </tr>

    prevSector = item;
}

@{ 
    @:</tbody>
    @:</table>
}
