@model IEnumerable<WebApplication1.ArtistsGenres>

@{
    ViewData["Title"] = "Index";
}

<h3>@ViewBag.ArtistName genres</h3>
<hr/>

<p>
    <a asp-action="Create" asp-route-artistId="@ViewBag.ArtistId" class="btn btn-success">Add genre</a>
    <a asp-controller="Artists" asp-action="Index" class="btn btn-secondary">Go back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>

            <td>
                <div class="text-center">
                    <form asp-action="Delete" asp-route-id="@item.Id" asp-route-artistId="@ViewBag.ArtistId" method="post">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
