@model IEnumerable<WebApplication1.Artists>

@{
    ViewData["Title"] = "Artists";
}

<h1>Artists</h1>
<hr />

<p>
    <a asp-action="Create" class="btn btn-success">Add artist</a>
</p>

@{
    var lcnt = 0;
}

@foreach (var item in Model)
{
    @if (lcnt == 0)
    {
        @:<div class="card-deck mb-3">
        }

    <div class="card border-primary">
        <img class="card-img-top" src="https://outstyle.org/images/news/7/6/0/future-getty.jpg" alt="Card image cap">
        <div class="card-body d-flex flex-column">
            <p class="card-text text-muted">@Html.DisplayFor(modelItem => item.Country.Name)</p>
            <h4 style="font-weight:bold;" class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
            @if (item.ArtistsGenres.Count > 0)
            {
                <p class="card-text">Genres:</p>
                <ul>
                    @foreach (ArtistsGenres ag in item.ArtistsGenres)
                    {
                        <li>@ag.Genre.Name</li>
                    }
                </ul>
            }

            @if (!String.IsNullOrWhiteSpace(item.Description))
            {
                <p class="card-text text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
            }

            <div class="mt-auto">
                <a asp-controller="ArtistsGenres" asp-action="Index" asp-route-id="@item.Id" class="btn btn-outline-info">Genres</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>

    @if (lcnt == 2)
    {
    @:</div>
    }
    lcnt++;
    @if (lcnt == 3)
    {
        lcnt = 0;
    }

}

@if (lcnt == 1)
{
    @:<div class="card"></div>
    @:<div class="card"></div>
    @:</div>
}

@if (lcnt == 2)
{
    @:<div class="card"></div>
    @:</div>
}
<br>

<h3>Charts</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <div id="chart1"></div>
        </div>
        <div class="col">
            <div id="chart3"></div>
        </div>
    </div>
</div>

<div>
    <h3>Import artists</h3>
    @using (Html.BeginForm("Import", "Artists", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            <input type="file" name="fileExcel" , id="fileExcel" />
            <div>
                <input type="submit" value="Upload" class="btn btn-success mt-2" />
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Charts/JsonData', function (jsonData) {
                data = google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Artists by country",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>


    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Charts/JsonData3', function (jsonData) {
                data = google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Artists by genre",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chart3'));
                chart.draw(data, option);
            })
        }
    </script>
}
